[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "penMSM"]
	path = penMSM
	url = https://github.com/cran/penMSM
[submodule "simMSM"]
	path = simMSM
	url = https://github.com/cran/simMSM
